@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Meddon&family=Noto+Serif&display=swap");

html {
  background-color: var(--gray);
  font-family: "Noto Serif", serif;
}

body {
  margin: 0;
  padding: 0;
}

.nav-bar {
  padding: var(--space-small);
}

.container {
  padding: var(--space-big);
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.product-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px var(--space-xbig) 30px var(--space-big);
}

.container-footer {
  padding: 50px var(--space-big) 50px var(--space-big);
}

.product-hero {
  padding: 90px var(--space-big) 0 var(--space-big);
}

@media screen and (min-width: 30rem) {
  .container {
    padding: var(--space-medium) var(--space-xxbig) var(--space-big);
  }
}

@media screen and (min-width: 42rem) {
  .container {
    padding: var(--space-medium) var(--space-big) var(--space-big);
  }

  #category-info .container {
    padding: var(--space-medium) var(--space-xxxbig) var(--space-big);
  }

  .category-hero {
    padding-top: 120px;
  }

  .product-container {
    padding: 10px var(--space-xxxbig) 30px var(--space-xxxbig);
  }
}

@media screen and (min-width: 42rem) {
  .product-container {
    padding: 10px 96px 30px 96px;
  }
}
