@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Meddon&family=Noto+Serif&display=swap");

html {
  background-color: var(--gray);
  font-family: "Noto Serif", serif;
}

body {
  margin: 0;
  padding: 0;
}

.nav-bar {
  padding: var(--space-small);
}

.container,
.container-footer {
  padding: var(--space-big);
}

/* Mobile M */
@media screen and (min-width: 375px) {
  .container-footer {
    padding: 32px;
  }
}


