@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap");

h1 {
  font-family: "WindSong", cursive;
  color: white;
  font-size: 36px;
}

h1,
h2,
p {
  margin: 0;
  padding: 4px 0;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  color: var(--brown);
}

p {
  font-size: 14px;
  color: var(--brown);
  text-align: justify;
  justify-content: inter-word;
}

a,
button {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
}

input {
  font-family: "Noto Serif", serif;
  font-weight: bold;
  font-size: 14px;
  color: gray;
}

td, li {
  color: var(--brown);
  font-size: 14px;
}

/* Mobile M */
@media screen and (min-width: 375px) {
  h1 {
    font-size: 40px;
  }
}


/* Mobile L */
@media screen and (min-width: 425px) {
  h2 {
    font-size: 24px;
  }

  p,
  a,
  button,
  input,
  td,
  li {
    font-size: 16px;
  }
}

/* tablets */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    padding-top: 15px;
  }
}