/* Colors */
:root {
  --gray: #d8d1cb;
  --light-gray: #eae5e1;
  --green-pine: #2f4449;
  --brown: #8c6034;
  --black: #131b1d;
}

/* Space */
:root {
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 32px;
  --space-xbig: 48px;
  --space-xxbig: 63px;
  --space-xxxbig: 88px;
}
