/* Colors */
:root {
  --gray: #d8d1cb;
  --light-gray: #eae5e1;
  --green-pine: #2f4449;
  --brown: #8c6034;
  --black: #131b1d;
}

/* Space */
:root {
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 32px;
}

/* Media queries */

/* Mobile M */
@media screen and (min-width: 375px) {
  :root {
    --space-big: 50px;
  }
}

/* Mobile L */
@media screen and (min-width: 425px) {
  :root {
    --space-big: 70px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  :root {
    --space-big: 80px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  :root {
    --space-big: 110px;
  }
}

/* Laptop small */
@media screen and (min-width: 1024px) {
  :root {
    --space-big: 150px;
  }
}

/* Laptop medium */
@media screen and (min-width: 1280px) {
  :root {
    --space-big: 250px;
  }
}

/* Laptop large */
@media screen and (min-width: 1440px) {
  :root {
    --space-big: 350px;
  }
}
