.category-hero {
  width: 100%;
  height: 400px;
}

.category-hero > h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.category-hero > img {
  width: 100vw;
  height: 400px;
  object-fit: cover;
}

.category-option {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.category-option a > img {
  width: 250px;
  height: 240px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.category-option a > img:hover {
  box-shadow: 0 4px 30px 0 var(--black);
}

.category-description {
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}

@media screen and (min-width: 42rem) {
  .category-hero > img {
    width: 400px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 100px;
  }

  .category-hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .category-hero > h1 {
    transform: translate(-50%, 130%);
  }

  .category-option {
    flex-direction: row;
    padding: 0 40px;
  }

  .description {
    align-items: baseline;
  }

  .category-description {
    padding: 40px 63px;
  }
}

@media screen and (min-width: 60rem) {
  .category-option {
    padding: 0 96px;
  }
}
