.category-hero {
  width: 100vw;
  height: 400px;
}

.category-hero > h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 330%);
}

.category-hero > img {
  width: 100vw;
  height: 400px;
  object-fit: cover;
}

.category-option {
  list-style-type: none;
}

.category-option .description > h2,
.category-option .description > p {
  padding: 5px 35px 0 35px;
  text-align: left;
}

.category-option > img {
  width: 182px;
  height: 156.24px;
  padding: 0;
  margin: 30px 0 5px 37px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.category-description {
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
}

/* Mobile M */
@media screen and (min-width: 375px) {
  .category-option > img {
    width: 190px;
    height: 164.24px;
  }

  .category-option .description > h2,
  .category-option .description > p {
    padding: 0 40px 0 40px;
  }
}

/* Mobile L */
@media screen and (min-width: 425px) {
  .category-option > img {
    width: 200px;
    height: 195px;
  }

  .category-option .description > h2,
  .category-option .description > p {
    padding: 0 35px 0 35px;
  }
}

/* Tablets */
@media screen and (min-width: 768px) {
  .category-option > img {
    width: 250px;
    height: 245px;
  }

  .category-option {
    display: flex;
    align-items: center;
  }

  .category-hero > h1 {
    transform: translate(-50%, 220%);
  }  
}

/* Laptop small */
@media screen and (min-width: 1024px) {
  .category-option {
    padding: 0 40px 0 40px;
  }
}

/* Laptop medium */
@media screen and (min-width: 1280px) {
  
}

