#form {
  border-radius: 5px;
  padding: 0 var(--space-small) 0 var(--space-small);
}

.form-info {
  display: flex;
  flex-direction: column;
  align-items: left;
}

input[type="text"],
[type="date"],
[type="time"] {
  width: 80%;
  padding: 5px 0;
  margin: 8px 25px;
  box-sizing: border-box;
  background-color: var(--gray);
  outline: 0;
  border-width: 0 0 2px;
  border-color: var(--brown);
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
  border-color: var(--light-gray);
}

input[type="submit"] {
  width: 50%;
  background-color: var(--green-pine);
  color: white;
  padding: 10px 10px;
  margin: var(--space-small) 0 var(--space-medium) 60px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

input[type="submit"]:focus {
  background-color: green;
}

.input-fields {
  list-style-type: none;
}
