nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-color: var(--black);
}

nav img {
  width: 80px;
  height: 40px;
  margin-right: var(--space-small);
}

ul.menu {
  margin: 0 10px 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.nav-item > a {
  margin-right: var(--space-small);
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

.nav-item > a:link,
.nav-item > a:active {
  color: var(--gray);
}

.nav-item > a:focus,
.nav-item > a:hover {
  border-bottom: 1px solid;
  color: var(--gray);
}

/* Mobile M */
@media screen and (min-width: 375px) {
  nav {
    justify-content: space-between;
  }

  ul.menu {
    margin: 0 var(--space-medium) 0 0;
  }
}

/* tablets */
@media screen and (min-width: 768px) {
  ul.menu {
    margin: 0 var(--space-medium) 0 0;
  }

  .nav-item > a {
    margin-right: var(--space-medium);
  }

  nav img {
    width: 100px;
    height: 55px;
  }
}
