.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info .owner {
  width: 220px;
  height: 220px;
  margin: 40px 0 5px 20px;
}

.contact-info .map {
  width: 250px;
  height: 210px;
  margin: 20px 0 0 10px;
}

.contact-info > h2 {
  margin-top: 20px;
}

.bg-img {
  width: 101px;
  height: 50px;
}

/* Mobile M */
@media screen and (min-width: 375px) {
  .bg-img {
    width: 115px;
    height: 65px;
  }

  .contact-info .owner {
    width: 240px;
    height: 240px;
    margin: 40px 0 5px 5px;
  }
}

/* Mobile L */
@media screen and (min-width: 425px) {
  .bg-img {
    width: 115px;
    height: 65px;
  }

  .contact-info .owner {
    width: 270px;
    height: 270px;
    margin: 40px 0 10px 5px;
  }
}


