#contact .container {
  padding: var(--space-xxbig);
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info .owner {
  width: 300px;
  height: 300px;
  margin: 40px 0 5px 20px;
}

.contact-info .map {
  width: 250px;
  height: 210px;
  margin: 20px 0 0 10px;
}

.contact-info > h2 {
  margin-top: 20px;
}

.bg-img {
  width: 120px;
  height: 70px;
}


