.dishes-hero {
    width: 100vw;
    height: 400px;
    background-image: url(../../assets/img/dishes-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.dishes-title {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.menu-img {
    width: 182px;
    height: 156.24px;
    padding: 0;
    margin: 30px 0 5px 37px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dish-option {
    list-style-type: none;
}

.dish-option > h2,
.dish-option > p {
    padding: 0 0 0 35px;
}

.dishes-description {
    font-weight: bold;
    padding-top: 30px;
}

.item-1,
.item-2,
.item-3,
.item-4 {
    position: absolute;
    z-index: -1;
}

.item-1 {
    top: 65%;
    left: 60%;
    transform: translate(-80%, 170%);
}

.item-2 {
    transform: translate(230%, 250%);
}

.item-3 {
    transform: translate(-49%, 455%);
}

.item-4 {
    transform: translate(269%, 505%);
}

.item5{
    transform: translate(80%, 50%); 
}




