#hero {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/img/restaurant-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  position: relative;
  text-align: center;
}

.title-1,
.title-2 {
  position: absolute;
  top: 50%;
  left: 50%;
}

.title-1 {
  transform: translate(-80%, 430%);
}

.title-2 {
  transform: translate(-20%, 500%);
}

/* Tablet */
@media screen and (min-width: 768px) {
  .title-1 {
    transform: translate(-80%, 270%);
  }

  .title-2 {
    transform: translate(-20%, 340%);
  }
}
