.option-img {
  width: 182px;
  height: 156.24px;
  padding: 0;
  margin: 30px 0 5px 37px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-option-left,
.menu-option-right {
  list-style-type: none;
}

.option-description > a {
  color: var(--brown);
}

.page-description {
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
}

.bg-1,
.bg-2,
.bg-3,
.bg-4 {
  position: absolute;
  z-index: -1;
}

.bg-1 {
  width: 101px;
  height: 50px;
  transform: translate(80%, -50%);
}

.bg-2 {
  width: 87px;
  height: 88px;
  transform: translate(230%, 340%);
}

.bg-3 {
  width: 63px;
  height: 121px;
  transform: translate(-42%, 455%);
}

.bg-4 {
  width: 78px;
  height: 163px;
  transform: translate(269%, 505%);
}

/* Mobile M */
@media screen and (min-width: 375px) {
  .option-img {
    width: 190px;
    height: 164.24px;
  }

  .bg-1 {
    width: 115px;
    height: 65px;
    transform: translate(70%, -60%);
  }

  .bg-2 {
    width: 97px;
    height: 98px;
    transform: translate(230%, 280%);
  }

  .bg-3 {
    width: 70px;
    height: 128px;
    transform: translate(-50%, 420%);
  }

  .bg-4 {
    transform: translate(300%, 490%);
  }
}

/* Mobile L */
@media screen and (min-width: 425px) {
  .option-img {
    width: 200px;
    height: 195px;
  }

  .bg-1 {
    width: 125px;
    height: 75px;
    transform: translate(70%, -75%);
  }

  .bg-2 {
    width: 110px;
    height: 109px;
    transform: translate(210%, 350%);
  }

  .bg-3 {
    width: 90px;
    height: 148px;
    transform: translate(-65%, 480%);
  }

  .bg-4 {
    width: 98px;
    height: 183px;
    transform: translate(250%, 570%);
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .option-img {
    width: 240px;
    height: 250px;
  }

  .menu-option-left{
    display: flex; 
  }

  .menu-option-right {
    display: flex;
    flex-direction: row-reverse;
  }

  .option-description {
    margin-top: 30px;
    margin-left: 40px;
  }

  .bg-1 {
    width: 150px;
    height: 80px;
    transform: translate(160%, -75%);
  }

  .bg-2 {
    width: 150px;
    height: 149px;
    transform: translate(360%, 200%);
  }

  .bg-3 {
    width: 110px;
    height: 168px;
    transform: translate(-60%, 290%);
  }

  .bg-4 {
    width: 108px;
    height: 193px;
    transform: translate(540%, 330%);
  }
}





