.option-img {
  width: 220px;
  height: 210px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-option-left,
.menu-option-right {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-medium) var(--space-xxbig);
}

.option-description {
  padding-top: var(--space-small);
}

.page-description {
  padding: 0 var(--space-xxbig) var(--space-medium);
}

@media screen and (min-width: 42rem) {
  .option-img {
    width: 250px;
    height: 240px;
  }

  .menu-option-left,
  .menu-option-right {
    flex-direction: row;
  }

  .menu-option-right {
    flex-direction: row-reverse;
  }

  .menu-option-left .option-img {
    margin-right: 30px;
  }

  .menu-option-right .option-img {
    margin-left: 30px;
  }

  .page-description {
    padding: var(--space-medium) var(--space-xxxbig) var(--space-big);
  }
}



